@import url('https://fonts.googleapis.com/css?family=Play');
@import '../stylesheets/variables.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

body {
  &::-webkit-scrollbar {
    width: 0.4em;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0,0,20, .25);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8A8A91;
  }
}

button {
  cursor: pointer;
}
a {
  text-decoration: none !important;
  color: unset;
}
.App {
  min-height: 100vh;
  position: relative;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// fixing gallery slider
.image-gallery-slide {
  background: rgba($color: #FFF, $alpha: .2);

  .image-gallery-image {
    img {
      max-height: 360px;
      @media (min-width: 600px) {
        max-height: 420px;
      }
      @media (min-width: $tablet) {
        max-height: 487px;
      }
      width: auto;
      display: block;
      margin: auto;
    }
  }
}

@import "../components//Partials//ImagesInput/styles.scss";

@import "../components/Shared/Fields/Label/styles.scss";
@import "../components/Shared/Fields/LabelledInput/styles.scss";

@import "../components/Shared/OfferCard/styles.scss";
@import "../components/Shared/Loader/styles.scss";
@import "../components/Shared/Logo/styles.scss";
@import "../components//Shared/ImagesList/styles.scss";